
@media (min-width: 800px) {
  .cursor {
    background: purple;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  /*  border: 1px white;*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
        /*  effet fun*/
    /*mix-blend-mode: difference;*/
  }
  /*petit point au milieu*/
/*
  .cursor::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
  }
}*/
.expand {
    animation: Anim1 .5s;
    background: white;
  /*  border: 1px solid black;*/
}
@keyframes Anim1 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}
