* {
  box-sizing: border-box;
  cursor: none;
}
a {
  cursor: none;
}
html {
  scroll-behavior: smooth;
}
html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  background: #fff;
  color:black;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* Scroller*/
/*Chrome/Edge/Safari*/
html::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
html::-webkit-scrollbar-track {
  background-color: #60606060;
}
html::-webkit-scrollbar-thumb {
  background-color: darkcyan;    /* color of the scroll thumb */

}
/*firefox-only*/
html {
  scrollbar-width: thin;          /* "auto" or "thin"  */
  /* La première cible le curseur et la seconde la piste */
  scrollbar-color: darkcyan #60606060;   /* scroll thumb & track */
}
/*----------------------------------------*/
body {
  height: 100vh;
	cursor: none;
}
h1, h2, p {
  margin: 0;
  margin-bottom: 1em;
}
h1 {
  font-size: 4rem;
  display: block;
  color: darkcyan;
  line-height: 1;
  font-weight: 400;
}
@media (min-width: 50em) {
  h1 {
      font-size: 4vw;
  }
}

/*footer*/
footer {
  background-color: #223843;
  padding: 4.5em 0;
  color: #a7a7a7;
  font-size: 1.2em;
}
.social-icons {
  width: 90%;
  margin: 0 auto;
  max-width: 15em;
  display: flex;
  margin: 1.75em auto 4em;
}
.social-icons a {
  width: 90%;
}
.social-icon {
    width: 25%;
    height: 25%;
}
.social-icon img {
    width: 100%;
    height: 100%;
}
.copyright::before {
    content: '';
    display: block;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    width: 25%;
    margin: 4em auto;
}
