* {
  box-sizing: border-box;
}
html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color:black;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 50em){
  .welcome h1 {
      font-size: 3vw;
  }
}


p, h1 {
  margin: 0;
}
/*nav*/

/*Welcome*/
.welcome {
  height: 100vh;
  /*background-color: pink;*/
  background: url(/Cours_Lycee/mp1/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.welcome-title {
  font-size: 4em;
}
.welcome-portfolio {
  display: block;
}
/*about*/
.about-me {
  height: 50vh;
  background-color: lightblue;
}
/*portfolio*/
.portfolio {
  height: 100vh;
  background-color: lightgreen;
}
/*contact*/
.contact {
  height: 25vh;
  background-color: red;
}
/*footer*/
footer {
  background-color: lightgreen;
  padding: 5em 0;
}
