/*nav*/
nav {
  position: fixed;
  transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
}
nav ul li{
  text-align: left;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 500;
  color: black;
}
nav ul li a:visited {
  font-weight: 600;
}
