/*
Pourquoi tout faire en flexbox ? :
- le site web est deja responsive
- On a moins a ecrir

Astuce :
  Codder son site en le regarden en format téléphone
  J'utilise le format Iphone6/7/8

Apprendre les flexboxs : https://flexboxfroggy.com/#fr
*/

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  color: #FFF;
  height: 100vh;
}

h1 {
  font-size: 5rem;
}

h2{
  font-size: 5rem;
}

p {
  font-size: 1.7rem;
}

@media (min-width: 50em) {
  h1 {
    font-size: 8rem;
  }

  h2{
    font-size: 6.5rem;
  }

  p {
    font-size: 3rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #163264;
}

.instructions {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 5vw 0;
}

.visual {
  padding: 5vw 0;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.visual h2 {
  padding: 0 10px;
}

.input {
  padding: 5vw 0;
  width: 50%;
  display: flex;
  justify-content: center;
}

.input form {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.icon {
  height: 20vh;
}

input {
  margin: 0 25px;
}

@media (max-width: 50em) {
  input {
    margin: 0 50px;
  }
}

#number {
  font-size: 3rem;
  background: red ;
  color: black;
  width: 200px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#button {
  background-color: #555555;
  border-radius: 2px;
  color : white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 1.6rem;
}

#button:hover {
  background-color: #555555;
  color: white;
}
