/*
Pourquoi tout faire en flexbox ? :
- le site web est deja responsive
- On a moins a ecrir

Astuce :
  Codder son site en le regarden en format téléphone
  J'utilise le format Iphone6/7/8

Apprendre les flexboxs : https://flexboxfroggy.com/#fr
*/

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  color: #FFF;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 8rem;

}

h2{
  font-size: 6.5rem;
}

p {
  font-size: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #163264;
}

.instruction {
  display: flex;
  justify-content: center;
}
.visual {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.visual h2 {
  padding: 0 25px;
}

.icon {
  height: 20vh;
}
.input {
  width: 90vw
}

.input form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 50em) {
  .input form {
    flex-direction: row;
  }
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#number {
  font-size: 7rem;
  background: red ;
  color: black;
  text-align:center;
}

#button {
  margin: 25px 0 0;
  background-color: #555555;
  border-color: #555555;
  border-radius: 2px;
  color : white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 5rem;
}

#button:hover {
  background-color: pink;
  color: white;
}

@media (max-width: 50em) {
  #number {
    font-size: 3rem;
  }

  #button {
    font-size: 1.6rem;
  }
}
